<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958787818106-8d9t4aa6kirremnvtobdrs8kaimld6aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958787818106-8d9t4aa6kirremnvtobdrs8kaimld6aj</string>
	<key>API_KEY</key>
	<string>AIzaSyBeQv7rdyQ5GvRcXWKOct8QOGjqQPHSWgk</string>
	<key>GCM_SENDER_ID</key>
	<string>958787818106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amigoPeludo</string>
	<key>PROJECT_ID</key>
	<string>amigopeludo-5f6d8</string>
	<key>STORAGE_BUCKET</key>
	<string>amigopeludo-5f6d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958787818106:ios:cdbc1150e02ffeda21e1c3</string>
</dict>
</plist>